/* 14vw 1vw
   30px  2vw
   40px  2.9vw
   80px  5.8vw
   90px  6.2vw
   130px 7.7vw
   200px 15vw
   234px 17vw
   256px 19vw
   293px 24vw
   362px 27vw*/

@font-face {
    font-family: Asap;
    src: url('https://fonts.google.com/specimen/Asap');
}

@font-face {
    font-family: Work-Sans;
    src: url('https://fonts.google.com/specimen/Work+Sans');
}

/*cabecalho*/
.menu{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B7DD8;
}

/*sobre nos*/
p{
    width: 30vw; /* largura */
    font-family: Work-Sans;
    font-style: normal;  
    font-size: 1.6vw;
    color: #414141;
}

.titulo-sobre-nos{    
    font-family: Asap;
    font-style: normal;
    font-weight: bold;    
    letter-spacing: 0.24em;
    text-transform: uppercase;    
    color: #FF3369; 
    font-size: 2.9vw;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}

.sobre-nos{
    left: 7.7vw;
    top: 5.8vw;
}

.botao-ajuda{
    margin-top: 1.5rem;
    width: 15vw;
    height: 3.2vw;
    background: #1B7DD8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;

    font-family: Asap;
    font-style: normal;
    font-size: 1vw;
    color: #fff;
    line-height: 1.6vw;
}

/*fazemos isso e muito mais*/
h2{
    margin-bottom: 2rem;
    margin-left: 3vw;
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6vw; 
    letter-spacing: 0.24em;
    text-transform: uppercase; 
    color: #414141;
}

.fazemos-isso{
    top: 6.2vw;
    margin-left: -15vw;
}

.container{
    width: 24vw;
    height: 29vw;
    margin-top: 1.8vw;

    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}

.figura1{
    width: 12vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vw;
}

/*banner rosa*/
label{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 2.8vw;
    line-height: 3.5vw;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.row-galeria{
    display: flex;
    width: 100%;
    height: 35vw;
    margin-top: 11vw;
    background: #FF3369;
}

.quadro-branco{
    margin-top: 7vw;
    margin-bottom: 7vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img1{
    width: 19vw;
    height: 19vw;
    margin-top: 1vw;  
    margin-left: .3vw; 
    margin-right: .3vw;
}

.img2{
    width: 19vw;
    height: 19vw;
    margin-top: 1vw;
    margin-left: .3vw; 
    margin-right: .3vw;
}

.img3{
    width: 19vw;
    height: 19vw;
    margin-top: 1vw;
    margin-left: .3vw; 
    margin-right: .3vw;
}

.texto{
    margin-top: 10vw;
}

.botao-flickr{
    margin-top: 1.5rem;
    width: 15vw;
    height: 3.2vw;
    background: #1B7DD8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;

    font-family: Asap;
    font-style: normal;
    font-size: 1vw;
    color: #fff;
    line-height: 1.6vw;
}

/*como ajudar*/
h4{
    font-family: Asap;
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 3vw;
    text-align: center;
    letter-spacing: 0.24em;
    color: #FF3369;
    text-transform: uppercase;
}

.titulo-ajudar{
    font-family: Asap;
    font-weight: bold;
    font-size: 2.9vw;
    letter-spacing: 0.24em;
    margin-top: 6vw;
    margin-left: 30vw;
    color: #FF3369;
    text-transform: uppercase;
}

.col-ajudar{
    margin-top: 6.5vw;
    margin-left: 21vw;
}

.quadros{
    margin-top: 1.5vw;
    width: 28vw;
    height: 28vw;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.botao{
    width: 17vw;
    height: 2.9vw;
    margin-top: 1.5vw;
    margin-left: 5.5vw;
    background: #1B7DD8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;

    font-family: Asap;
    font-size: 1vw;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*rodape*/
.rodape{
    width: 100%;
    height: 14vw;
    margin-top: 10vw;
    margin-bottom: .5vw;
    background: #0537EA;
}