@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap');

/* 10px  0.6vw
   14px  1vw
   30px  2vw
   32px  2.1vw
   40px  2.9vw
   80px  5.8vw
   90px  6.2vw
   130px 7.7vw
   200px 15vw
   234px 17vw
   256px 19vw
   293px 24vw
   362px 27vw*/

body, html{
    width: 100%;
    flex:1;
    border-style: none;
}

body{
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.14vw;
}

/*cabecalho*/
.cabecalho{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Asap', sans-serif;
    justify-content: center;
    width: 100%;
}

.cabecalho nav {
    padding: 1% 10%;
    width: 100%;
}

.cabecalho .navbar .navbar-collapse ul li{
    margin-left: 3.5vw;
}

.menu{
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.14vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B7DD8;
}

.navbar-light .navbar-brand{
    width: 18vw;
}

.navbar-brand img{
    width: 18vw;
}

.body{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


/*imagem principal*/
.cover{
    width: 100%;
}


/*row sobre nós*/
.row_sobre-nos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5.4vw;
    padding-left: 5vw;
    width: 100%;
}

.row_sobre-nos .sobre-nos{
    width: 350px;
    max-width: 33.33%;
    margin-left: 1.5vw;
}

.row_sobre-nos .fazemos-isso{
    max-width: 50%;
}

/*sobre nos*/
.titulo-sobre-nos{
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    color: #FF3369;
    font-size: 2.6vw;
    margin-bottom: 1.6vw;
}

.sobre-nos p{
    font-size: 1.1vw;
}

.sobre-nos p strong{
    font-size: 1.14vw;
}

.btn.botao-ajuda{
    width: 15vw;
    height: 3.2vw;
    background: #1B7DD8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-size: 1vw;
    color: #fff;
    line-height: 1.6vw;
    margin-top: 1.5vw;
}


/*fazemos isso e muito mais*/
.body .row_sobre-nos .fazemos-isso .fazemos-isso__title{
    font-family: 'Asap', sans-serif;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.24em;
    text-transform: uppercase; 
    color: #414141;
}

.fazemos-isso{
    margin-top: 3vw;
}

.body .row_sobre-nos .fazemos-isso .caixas{
    display: flex;
    flex-direction: row;
    margin-top: 32px;    
}

.body .row_sobre-nos .fazemos-isso .caixas .caixas__card{
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-right: 2.1vw;
    padding: 2.1vw;
}

.body .row_sobre-nos .fazemos-isso .caixas .caixas__card img{
    height: auto;
    width: 12vw;
}

.body .row_sobre-nos .fazemos-isso .caixas .caixas__card .card__featured{
    align-items: center;
    color: #FF3369;
    display: flex;
    font-family: 'Asap', sans-serif;
    font-size: 4.6vw;
    line-height: 4.7vw;
    margin: 5% 0;
    text-align: center;
}

.body .row_sobre-nos .fazemos-isso .caixas .caixas__card .card__featured span{
    line-height: 2.1vw;
    font-size: 1.4vw;
    margin-right: 0.9vw;    
}

.body .row_sobre-nos .fazemos-isso .caixas .caixas__card p{
    font-size: 1.6vw;
    line-height: 1.8vw;
    text-align: center;
}


/*banner rosa*/
label{
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.8vw;
    line-height: 3.5vw;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.row-galeria{
    background: #FF3369;
    display: flex;
    padding: 6vw 0;
    width: 100%;
    padding-left: .8vw;
    padding-right: 1vw;
}

.quadro-branco{
    margin: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-galeria{
    width: 19vw;
    height: 19vw;
    margin-top: 1vw;  
    margin-bottom: 1vw;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vw;
    margin-top: 2.5vw;
}

.btn.botao-flickr{
    margin-top: 1.5rem;
    width: 15vw;
    height: 3.2vw;
    background: #1B7DD8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-size: 1vw;
    color: #fff;
    line-height: 1.6vw;
}

.texto{
    display: block;
}

.texto1{
    display: none;
}

.flickr{
    display: none;
}


/*como ajudar*/
.quadros.doe{
    margin-left: 21.5vw;
}

.quadros.seja{
    margin-left: 1.5vw;
}

.quadros.parceira{
    margin-left: 21.5vw;
}

.quadros.itens{
    margin-left: 1.5vw;
}

.quadros h4{
    font-family: Asap;
    font-weight: bold;
    font-size: 2.8vw;
    line-height: 3vw;
    text-align: center;
    letter-spacing: 0.24em;
    color: #FFF;
    text-transform: uppercase;
}

.quadros h5{
    font-family: Asap;
    font-size: 1vw;
    line-height: 1.2vw;
    text-align: center;
    letter-spacing: 0.24em;
    color: #FFF;
}

.col-ajudar .titulo-ajudar{
    color: #1B7DD8;
    font-family: 'Asap', sans-serif;
    font-size: 2.8vw;
    font-weight: 600;
    letter-spacing: 0.24em;
    text-align: center;
    margin-bottom: 1.5vw;
    margin-top: 3vw;
}

.col-ajudar{
    background: #FFFCC2;
    width: 100%;
    margin-top: 5vw;
    padding-bottom: 4vw;
    position: relative;
}

.quadros{
    width: 28vw;
    height: 28vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    margin-top: 1.5vw;
    padding: .8vw .8vw .8vw .8vw;
    position: relative;
}

.btn.botao{
    width: 14vw;
    height: 2.9vw;
    margin-top: 1.5vw;
    background: #1B7DD8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
    font-family: 'Asap', sans-serif;
    font-size: 1vw;
    line-height: 1.6vw;
    text-transform: uppercase;
    color: #FFFFFF;
}    

.quadros .imagem-ajudar{
    height: 100%;
    position: relative;
}

.legenda{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 0px 0px 0px;
}

.legenda.online{   
    width: 15vw;
}

.legenda.empresa{
    width: 18vw;
}

.legenda.outros h5{
    width: 25vw;
}

.legenda.outros .botao{
    margin-left: 5.5vw;
}


/*rodape*/
.footer__logo1 img{
    width: 8vw;
}

.footer{
    width: 100%;
    height: 14vw;
    margin-top: 5vw;
    margin-bottom: .2vw;
    background: #1B7DD8;
    padding-top: 2.5vw;
    padding-left: 7.2vw;
    padding-right: 4.5vw;
}

.footer h5{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 2.1vw;
    letter-spacing: 0.24em;
    color: #FFFFFF;
}

.footer h6{
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.5vw;
    color: #FFFFFF;
    margin-right: 1.5vw;
}

.footer .footer__contato{
    margin-top: .9vw;
    margin-right: 4.5vw;
    width: 40vw;
}

.footer .footer_contato .col .telefones{
    margin-right: 2vw;
}

.footer .footer__sociais{
    margin-right: -3vw;
    margin-top: .9vw;
}

.footer__sociais .sociais__logo{
    width: 15vw;
    margin-top: .8vw;
}

.footer__logo1{
    display: block;
}

.footer__logo2{
    display: none;
}

.footer__contato img{
    width: 1vw; 
    margin-right: .5vw; 
    margin-left: -1.5vw
}

.footer__sociais .sociais__logo .col img{
    width: 2.5vw;
}

.footer__contato .col.telefones .row.telefones h6 span{
    font-size: .8vw;
}

.col.telefones1{
    display: block;
}

.col.telefones2{
    display: none;
}

/*responsividade*/
@media (min-width: 1330px) {
    /*banner rosa*/
    .quadro-branco{
        margin: 0 2.5vw;
    }

    .texto{
        margin-top: 4vw;
    }
} 

@media (min-width: 1000px) and (max-width: 1799px){
    /*como ajudar*/
    .legenda.empresa{
        margin-left: .5vw;
    }

    .legenda.empresa .botao{
        margin-left: 5.8vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1329px){
    /*banner rosa*/
    .quadro-branco{
        margin: 0 2.1vw;
    }
} 

@media screen and (min-width: 1000px) and (max-width: 1099px){
    /*rodape*/ 
    .footer__sociais .sociais__logo .logo__facebook{
        margin-left: -1.5vw
    }

    .footer__sociais .sociais__logo .logo__linkedin{
        margin-left: -1.5vw
    }
}

@media screen and (min-width: 435px) and (max-width: 999px){
    /*row sobre nós*/
    .row_sobre-nos{
        flex-direction: column;
        padding-right: 10vw;
        padding-left: 8vw;
        width: 100%;
    }

    .row_sobre-nos .sobre-nos{
        width: 100%;
        max-width: 100%;
        position: relative;
    }

    /*sobre nos*/
    .titulo-sobre-nos{
        font-size: 6vw;
        margin-bottom: 4vw;
        line-height: 4.5vw;
        text-align: center;
    }

    .sobre-nos p{
        font-size: 2vw;
        line-height: 2.5vw;
        text-align: justify;
    }

    .sobre-nos p strong{
        font-size: 2.4vw;
        line-height: 2.7vw;
    }

    .btn.botao-ajuda{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 22vw;
        height: 4.5vw;
        font-size: 1.65vw;
        margin-top: 1.3vw;
        margin-bottom: 3vw;
    }

    /*fazemos isso e muito mais*/
    .body .row_sobre-nos .fazemos-isso{
        width: 100%;
        max-width: 100%;    
        padding-left: 3.5vw;
        padding-top: 4vw;
    }

    .body .row_sobre-nos .fazemos-isso .fazemos-isso__title{
        font-size: 2vw;
        line-height: 2.3vw;
        margin-top: 4vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas{
        display: flex;
        flex-direction: row;
        margin-top: 3vw;
        margin-left: 7vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card{
        max-width: 31vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card img{
        height: auto;
        width: 20vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card .card__featured{
        font-size: 6.6vw;
        line-height: 6.7vw;
        margin: 5% 0;
        text-align: center;
        font-weight: bold;        
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card .card__featured span{
        line-height: 2.1vw;
        font-size: 2vw;
        margin-right: 0.9vw;    
        font-weight: lighter;
    }
    
    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card p{
        line-height: 2.1vw;
        font-size: 2vw;
        text-align: center;
    }

    /*banner rosa*/
    label{
        font-size: 5vw;
        line-height: 5.5vw;
    }

    .row-galeria{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 4vw;
        padding-left: 32vw;
    }

    .row-galeria .col{
        max-width: 36vw;
        position: relative;
    }

    .quadro-branco{
        width: 35vw;
        height: 35vw;
        margin-bottom: 1.5vw;
    }

    .img-galeria{
        width: 33vw;
        height: 33vw;
    }

    .texto1{
        text-align: center;
        margin-bottom: 3vw;
    }

    .btn.botao-flickr{
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        margin-top: 2vw;        
        width: 24vw;
        height: 4vw;
        font-size: 1.8vw;
        line-height: 2.6vw;
    }

    .col.flickr{
        margin-bottom: 3.5vw;
    }

    .texto{
        display: none;
    }
    
    .texto1{
        display: block;
    }
    
    .flickr{
        display: block;
    }

    /*como ajudar*/
    .quadros.doe{
        margin-left: 15vw;
    }

    .quadros.parceira{
        margin-left: 15vw;
    }

    .quadros h4{
        font-size: 3vw;
        line-height: 3.3vw;
    }

    .quadros h5{
        font-size: 1.2vw;
        line-height: 1.4vw;
        letter-spacing: 0.24em;
        margin-top: 2vw;
    }

    .quadros{
        width: 35vw;
        height: 35vw;
    }

    .col-ajudar .titulo-ajudar{
        font-size: 4.5vw;
        line-height: 5vw;
        margin-bottom: 2.5vw;
        margin-top: 4vw;
    }

    .btn.botao{
        width: 16vw;
        height: 3.5vw;
        font-size: 1.2vw;
    }    

    .legenda{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        padding: 0px 0px 0px 0px;
        margin-top: -5.5vw;
    }

    .legenda.empresa{
        width: 20vw;
        margin-top: -8vw;
    }

    .legenda.outros{
        margin-top: -10.5vw;
    }
    
    .legenda.outros h5{
        width: 25vw;
    }

    .legenda.outros .botao{
        margin-left: 4vw;
    }

    /*rodape*/
    .footer{
        flex-direction: column;
        height: auto;
        padding-top: 3vw;
        padding-left: 20vw;
        margin-bottom: .5vw;
    }

    .footer h5{
        font-size: 2.5vw;
        line-height: 2.3vw;
        margin-bottom: 1.5vw;
    }

    .footer h6{
        font-size: 1.25vw;
        line-height: 1.8vw;
        margin-right: 1.5vw;
    }

    .footer .footer__contato{        
        margin-left: -6vw;
    }

    .footer__contato img{
        width: 1.25vw; 
        margin-right: .5vw; 
        margin-left: -1.75vw
    }

    .footer__sociais{
        margin-left: -25vw;
    }

    .footer__sociais .sociais__logo{
        width: 19vw;
        margin-top: .8vw;
    }

    .footer__sociais .sociais__logo .col img{
        width: 3.3vw;
    }

    .footer__logo1{
        display: none;
    }
    
    .footer__logo2{
        display: block;
        margin-top: 2.5vw;
        margin-bottom: 4vw;
        margin-left: 20vw;
    }

    .footer__logo2 img{
        width: 17vw;
    }
}

@media screen and (min-width: 435px) and (max-width: 849px){
    /*cabecalho*/
    a.menu{
        font-size: 2vw;
        letter-spacing: 0.1em;
    }

    /*row sobre nós*/
    .row_sobre-nos{
        flex-direction: column;
        padding-right: 11vw;
        padding-left: 8vw;
        width: 100%;
    }

    /*banner rosa*/
    .row-galeria{
        flex-direction: column;
        width: 100%;
        padding-top: 4vw;
        padding-left: 32vw;
        padding-bottom: 12vw;
    }

    .row-galeria .col{
        max-width: 36.5vw;
        position: relative;
    }

    .btn.botao-flickr{
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        margin-top: 4vw;    
        width: 24vw;
        height: 4vw;
        font-size: 1.8vw;
        line-height: 2.6vw;
    }

    /*rodape*/
    .footer{
        flex-direction: column;
        height: auto;
        padding-top: 3vw;
        padding-left: 20vw;
        margin-bottom: .5vw;
    }

    .footer h5{
        font-size: 2.7vw;
        line-height: 2.3vw;
        margin-bottom: 1.5vw;
    }

    .footer h6{
        font-size: 1.5vw;
        line-height: 1.8vw;
        margin-right: 1.5vw;
    }

    .footer .footer__contato{        
        margin-left: -6vw;
    }

    .footer__contato img{
        width: 1.5vw; 
        margin-right: .5vw; 
        margin-left: -2vw
    }

    .footer__sociais{
        margin-left: -30vw;
    }

    .footer__sociais .sociais__logo{
        width: 21vw;
        margin-top: .8vw;
    }
}

@media screen and (min-width: 435px) and (max-width: 699px){
    /*fazemos isso e muito mais*/
    .body .row_sobre-nos .fazemos-isso .caixas{
        display: flex;
        flex-direction: row;
        margin-top: 3vw;
        margin-left: 9.5vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card{
        max-width: 29vw;
    }

    /*banner rosa*/
    label{
        font-size: 4.8vw;
        line-height: 5vw;
    }

    .row-galeria{
        flex-direction: column;
        width: 100%;
        padding-top: 4vw;
        padding-left: 32vw;
        padding-bottom: 15vw;
    }

    .row-galeria .col{
        max-width: 35.4vw;
        position: relative;
    }

    .quadro-branco{
        width: 35vw;
        margin-bottom: 1.5vw;
    }

    .img-galeria{
        width: 33vw;
        height: 33vw;
        margin-left: -1vw;
    }

    .texto1{
        text-align: center;
        margin-bottom: 3vw;
    }

    .btn.botao-flickr{
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        margin-top: 5vw;        
        width: 24vw;
        height: 4vw;
        font-size: 1.8vw;
        line-height: 2.6vw;
    }

    /*como ajudar*/
    .quadros.doe{
        margin-left: 17vw;
    }

    .quadros.parceira{
        margin-left: 17vw;
    }   

    /*rodape*/    
    .footer__logo2{
        display: block;
        margin-top: 2.5vw;
        margin-bottom: 2vw;
        margin-left: 20vw;
    }
}

@media (min-width: 435px) and (max-width: 649px){
    .navbar-toggler{
        font-size: .6rem;
    }

    /*banner rosa*/
    label{
        font-size: 4.4vw;
        line-height: 5vw;
    }

    .col.flickr{
        margin-bottom: 5vw;
    }

    /*como ajudar*/
    .quadros.doe{
        margin-left: 12vw;
    }

    .quadros.parceira{
        margin-left: 12vw;
    }

    .quadros h4{
        font-size: 4vw;
        line-height: 4.3vw;
        text-align: center;
    }

    .quadros h5{
        font-size: 1.6vw;
        line-height: 2vw;
        letter-spacing: 0.24em;
    }

    .quadros{
        width: 40vw;
        height: 40vw;
    }

    .col-ajudar .titulo-ajudar{
        font-size: 5vw;
        line-height: 5.5vw;
        margin-bottom: 2.5vw;
        margin-top: 4.5vw;
    }

    .btn.botao{
        width: 21vw;
        height: 3.9vw;
        font-size: 1.55vw;
    }    

    .legenda{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: -7vw;
    }

    .legenda.empresa{
        width: 27vw;
        margin-top: -9vw;
        margin-left: 1.2vw;
    }

    .legenda.outros{
        margin-top: -13.5vw;
    }

    .legenda.online{   
        width: 18vw;
    }

    .legenda.outros h5{
        width: 32vw;
    }

    .legenda.outros .botao{
        margin-left: 5.5vw;
    }

    .legenda.online .botao{
        margin-left: -1.2vw;
    }

    .legenda.voluntario a{
        margin-left: 2vw;
    }

    /*rodape*/
    .footer h5{
        font-size: 3vw;
        line-height: 3.3vw;
        margin-bottom: 1.5vw;
    }

    .footer h6{
        font-size: 1.8vw;
        line-height: 2vw;
        margin-right: 1.5vw;
    }

    .footer .footer__contato{        
        margin-left: -10vw;
        margin-bottom: -5vw;
    }

    .footer__contato img{
        width: 1.8vw; 
        margin-right: .5vw; 
        margin-left: -2.2vw
    }

    .footer__sociais .sociais__logo{
        width: 24vw;
        margin-top: .8vw;
    }

    .footer__logo2{
        display: block;
        margin-top: 1vw;
        margin-bottom: 2vw;
        margin-left: 20vw;
    }

    .footer__contato .col.telefones .row.telefones h6 span{
        font-size: 1.2vw;
    }
}

@media (min-width: 355px) and (max-width: 509px){
    /*cabecallho*/
    a.menu{
        font-size: 2.5vw;
    }

    .cabecalho .navbar a img{
        width: 25vw;
    }

    /*row sobre nós*/
    .row_sobre-nos .sobre-nos{
        width: 100%;
        max-width: 100%;
        position: relative;
    }

    /*sobre nos*/
    .btn.botao-ajuda{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 22vw;
        height: 4.5vw;
        font-size: 1.65vw;
        margin-top: 1vw;
        margin-bottom: 4vw;
    }

    /*banner rosa*/
    .img-galeria{
        width: 33vw;
        height: 33vw;
        margin-left: -2vw;
    }

    /*como ajudar*/
    .col-ajudar{
        flex-direction: column;
        padding-bottom: 10vw;
        padding-top: 3vw;
        margin-top: 0px;
    }

    .quadros.doe{
        margin-left: 31vw;
    }

    .quadros.seja{
        margin-left: 31vw;
    }

    .quadros.parceira{
        margin-left: 31vw;
    }

    .quadros.itens{
        margin-left: 31vw;
    }

    .quadros{
        width: 45vw;
        height: 45vw;
    }

    .col-ajudar .titulo-ajudar{
        width: 45vw;
        font-size: 5vw;
        line-height: 5.5vw;
        margin-bottom: 4vw;
        margin-top: 7vw;
        margin-left: 28vw;
    }  

    /*rodape*/
    .footer{
        flex-direction: column;
        height: auto;
        margin-top: 0vw;
    }

    .response{
        flex-direction: column;
    }

    .footer h5{
        font-size: 3.7vw;
        line-height: 4vw;
        margin-bottom: 2vw;
    }

    .footer h6{
        font-size: 2.4vw;
        line-height: 3vw;
        margin-right: 2.5vw;
        font-weight: lighter;
    }

    .footer .footer__contato{        
        margin-left: 13vw;
        width: 100vw;  
        margin-top: 6vw;      
    }

    .footer__contato img{
        width: 2.4vw; 
        margin-right: 1vw; 
        margin-left: -3.3vw
    }

    .footer .footer__sociais{
        margin-left: 13vw;
        margin-top: 13vw;
        width: 40vw;
        text-align: center;
    }

    .footer__sociais .sociais__logo{
        margin-top: .8vw;
        width: 30vw;
        margin-left: 1vw;
        margin-bottom: 7vw;
    }

    .footer__sociais .sociais__logo .col img{
        width: 4.3vw;
    }

    .footer__logo2{
        display: block;
        margin-top: 1vw;
        margin-bottom: 6vw;
        margin-left: 4.5vw;
    }

    .footer__logo2 img{
        width: 30vw;
        margin-left: 4vw;
    }

    .footer__contato .col.telefones2 .row.telefones h6 span{
        font-size: 1.5vw;
    }

    .col.telefones1{
        display: none;
    }
    
    .col.telefones2{
        display: block;
    }
}

@media (min-width: 355px) and (max-width: 434px){
    .cabecalho .navbar a img{
        width: 35vw;
    }

    /*row sobre nós*/
    .row_sobre-nos{
        flex-direction: column;
        padding-right: 11vw;
        padding-left: 8vw;
        width: 100%;
    }

    /*sobre nos*/
    .titulo-sobre-nos{
        font-size: 7.5vw;
        margin-bottom: 4vw;
        line-height: 8vw;
        text-align: center;
    }

    .sobre-nos p{
        font-size: 3.5vw;
        line-height: 4.2vw;
        text-align: justify;
    }

    .sobre-nos p strong{
        font-size: 3.8vw;
        line-height: 4.5vw;
    }

    .btn.botao-ajuda{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 30vw;
        height: 5vw;
        font-size: 2vw;
        padding-bottom: 1vw;
    }

    /*fazemos isso e muito mais*/
    .body .row_sobre-nos .fazemos-isso{
        width: 100%;
        max-width: 100%;    
        padding-left: 5.2vw;
        padding-top: 4vw;
    }

    .body .row_sobre-nos .fazemos-isso .fazemos-isso__title{
        font-size: 2.7vw;
        line-height: 3vw;
        margin-top: 8vw;
        margin-bottom: 4vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas{
        display: flex;
        flex-direction: row;
        margin-top: 3vw;
        margin-bottom: 4.5vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card{
        max-width: 40vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card img{
        height: auto;
        width: 30vw;
        margin: 0vw 1vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card .card__featured{
        font-size: 8vw;
        line-height: 8.7vw;
        margin: 5% 0;
        text-align: center;
        font-weight: bold;        
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card .card__featured span{
        line-height: 2.8vw;
        font-size: 2.5vw;
        margin-right: 0.9vw;    
        font-weight: lighter;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card p{
        line-height: 2.8vw;
        font-size: 2.5vw;
        text-align: center;
    }

    /*banner rosa*/
    label{
        font-size: 4.7vw;
        line-height: 5.5vw;
        margin-top: 2vw;
        font-weight: lighter;
    }

    .row-galeria{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 4vw;
        padding-left: 30vw;
        padding-bottom: 15vw;
    }

    .row-galeria .col{
        max-width: 37.7vw;
        position: relative;
    }

    .quadro-branco{
        margin-bottom: 1.7vw;
    }

    .img-galeria{
        width: 35vw;
        height: 35vw;
        margin-left: -2.2vw;
    }

    .texto1{
        text-align: center;
        margin-bottom: 3vw;
    }

    .btn.botao-flickr{
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        margin-top: 6.5vw;     
        width: 28vw;
        height: 5vw;
        font-size: 2vw;
        line-height: 2.6vw;
        padding-bottom: 1.5vw;
    }

    .col.flickr{
        margin-bottom: 5vw;
    }

    .texto{
        display: none;
    }

    .texto1{
        display: block;
    }

    .flickr{
        display: block;
    }

    /*como ajudar*/
    .col-ajudar{
        flex-direction: column;
        padding-bottom: 10vw;
        padding-top: 1.8vw;
        margin-top: 0px;
    }

    .quadros.doe{
        margin-left: 28.5vw;
    }

    .quadros.seja{
        margin-left: 28.5vw;
    }

    .quadros.parceira{
        margin-left: 28.5vw;
    }

    .quadros.itens{
        margin-left: 28.5vw;
    }

    .quadros h4{
        font-size: 5vw;
        line-height: 5.3vw;
        text-align: center;
    }

    .quadros h5{
        font-size: 1.8vw;
        line-height: 2.2vw;
        letter-spacing: 0.24em;
    }

    .quadros{
        width: 50vw;
        height: 50vw;
        margin-bottom: 1.5vw;
    }

    .btn.botao{
        width: 27vw;
        height: 5vw;
        font-size: 2vw;
        margin-top: 1vw;
    }    

    .legenda{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: -10vw;
    }

    .legenda.empresa{
        width: 35vw;
        margin-top: -12vw;
        margin-left: 1.2vw;
    }

    .legenda.outros{
        margin-top: -15.5vw;
        margin-left: 1vw;
    }

    .legenda.online{   
        width: 25vw;
    }

    .legenda.outros h5{
        width: 38vw;
    }

    .legenda.online .botao{
        margin-left: -1vw;
    }

    .legenda.outros .botao{
        margin-left: 5.5vw;
    }

    .legenda.empresa a{
        margin-left: 2vw;
    }

    .legenda.voluntario a{
        margin-left: 3.5vw;
    }

    /*rodape*/
    .footer h5{
        font-size: 5vw;
        line-height: 5.5vw;
        margin-bottom: 2vw;
    }

    .footer h6{
        font-size: 3.5vw;
        line-height: 4vw;
        margin-right: 2.5vw;
        font-weight: lighter;
    }

    .footer .footer__contato{        
        margin-left: 20vw;
        width: 100vw;  
        margin-top: 6vw;      
    }

    .footer__contato img{
        width: 3.5vw; 
        margin-right: 1vw; 
        margin-left: -4.4vw
    }

    .footer .footer__sociais{
        margin-left: 15vw;
        margin-top: 10vw;
        width: 60vw;
        text-align: center;
    }

    .footer__sociais .sociais__logo{
        margin-top: .8vw;
        width: 40vw;
        margin-left: 6vw;
        margin-bottom: 7vw;
    }

    .footer__sociais .sociais__logo .col img{
        width: 6vw;
    }

    .footer__logo1{
        display: none;
    }

    .footer__logo2{
        display: block;
        margin-top: 3vw;
        margin-bottom: 10vw;
        margin-left: 20vw;
    }

    .footer__logo2 img{
        width: 43vw;
        margin-left: -5vw;
    }

    .footer__contato .col.telefones2 .row.telefones h6 span{
        font-size: 2vw;
    }
}

@media (max-width: 354px){
    /*cabecallho*/
    a.menu{
        font-size: 2.5vw;
    }

    .cabecalho .navbar a img{
        width: 40vw;
    }

    /*row sobre nós*/
    .row_sobre-nos{
        flex-direction: column;
        padding-right: 11vw;
        padding-left: 8vw;
        width: 100%;
    }

    .row_sobre-nos .sobre-nos{
        width: 100%;
        max-width: 100%;
        position: relative;
    }

    /*sobre nos*/
    .titulo-sobre-nos{
        font-size: 7.5vw;
        margin-bottom: 4vw;
        line-height: 8vw;
        text-align: center;
    }

    .sobre-nos p{
        font-size: 3.5vw;
        line-height: 4.2vw;
        text-align: justify;
    }

    .sobre-nos p strong{
        font-size: 3.8vw;
        line-height: 4.5vw;
    }

    .btn.botao-ajuda{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 35vw;
        height: 5.5vw;
        font-size: 2.6vw;
        padding-bottom: 1vw;
    }

    /*fazemos isso e muito mais*/
    .body .row_sobre-nos .fazemos-isso{
        width: 100%;
        max-width: 100%;    
        padding-left: 5.2vw;
        padding-top: 4vw;
    }

    .body .row_sobre-nos .fazemos-isso .fazemos-isso__title{
        font-size: 2.7vw;
        line-height: 3vw;
        margin-top: 8vw;
        margin-bottom: 4vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas{
        display: flex;
        flex-direction: row;
        margin-top: 3vw;
        margin-bottom: 4.5vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card{
        max-width: 40vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card img{
        height: auto;
        width: 28vw;
        margin: 0vw 2vw;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card .card__featured{
        font-size: 8.5vw;
        line-height: 8.7vw;
        margin: 5% 0;
        text-align: center;
        font-weight: bold;        
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card .card__featured span{
        line-height: 3vw;
        font-size: 2.8vw;
        margin-right: 0.9vw;    
        font-weight: lighter;
    }

    .body .row_sobre-nos .fazemos-isso .caixas .caixas__card p{
        line-height: 3.5vw;
        font-size: 3vw;
        text-align: center;
    }

    /*banner rosa*/
    label{
        font-size: 5.2vw;
        line-height: 6vw;
        margin-top: 2vw;
        font-weight: lighter;
    }

    .row-galeria{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 4vw;
        padding-left: 29vw;
        padding-bottom: 15vw;
    }

    .row-galeria .col{
        max-width: 43vw;
        position: relative;
    }

    .quadro-branco{
        margin-bottom: 1.7vw;
    }

    .img-galeria{
        width: 40vw;
        height: 40vw;
        margin-left: -3vw;
    }

    .texto1{
        text-align: center;
        margin-bottom: 3vw;
    }

    .btn.botao-flickr{
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        margin-top: 6.5vw;     
        width: 30vw;
        height: 5.4vw;
        font-size: 2.2vw;
        padding-bottom: 3.2vw;
    }

    .col.flickr{
        margin-bottom: 5vw;
    }

    .texto{
        display: none;
    }

    .texto1{
        display: block;
    }

    .flickr{
        display: block;
    }

    /*como ajudar*/
    .col-ajudar{
        flex-direction: column;
        padding-bottom: 10vw;
        padding-top: 1.8vw;
        margin-top: 0px;
    }

    .quadros.doe{
        margin-left: 28.5vw;
    }

    .quadros.seja{
        margin-left: 28.5vw;
    }

    .quadros.parceira{
        margin-left: 28.5vw;
    }

    .quadros.itens{
        margin-left: 28.5vw;
    }

    .quadros h4{
        font-size: 5vw;
        line-height: 5.3vw;
        text-align: center;
    }

    .quadros h5{
        font-size: 1.8vw;
        line-height: 2.2vw;
        letter-spacing: 0.24em;
    }

    .quadros{
        width: 50vw;
        height: 50vw;
        margin-bottom: 1.5vw;
    }

    .col-ajudar .titulo-ajudar{
        width: 45vw;
        font-size: 5vw;
        line-height: 5.5vw;
        margin-bottom: 4vw;
        margin-top: 7vw;
        margin-left: 28vw;
    }

    .btn.botao{
        width: 28.5vw;
        height: 5.4vw;
        font-size: 2.2vw;
        padding-bottom: 3.2vw;
        margin-top: 1vw;     
        font-size: 2vw;
    }

    .legenda{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: -10vw;
    }

    .legenda.empresa{
        width: 35vw;
        margin-top: -12vw;
        margin-left: 1.2vw;
    }

    .legenda.outros{
        margin-top: -15.5vw;
        margin-left: 1vw;
    }

    .legenda.online{   
        width: 25vw;
    }

    .legenda.outros h5{
        width: 38vw;
    }

    .legenda.online .botao{
        margin-left: -1.5vw;
    }

    .legenda.outros .botao{
        margin-left: 4vw;
    }

    .legenda.empresa a{
        margin-left: 1vw;
    }

    .legenda.voluntario a{
        margin-left: 2.5vw;
    }

    /*rodape*/
    .footer{
        flex-direction: column;
        height: auto;
        margin-top: 0vw;
    }

    .response{
        flex-direction: column;
    }

    .footer h5{
        font-size: 5vw;
        line-height: 5.5vw;
        margin-bottom: 2vw;
    }

    .footer h6{
        font-size: 3.5vw;
        line-height: 4vw;
        margin-right: 2.5vw;
        font-weight: lighter;
    }

    .footer .footer__contato{        
        margin-left: 20vw;
        width: 100vw;  
        margin-top: 6vw;      
    }

    .footer__contato img{
        width: 3.5vw; 
        margin-right: 1vw; 
        margin-left: -4.4vw
    }

    .footer .footer__sociais{
        margin-left: 15vw;
        margin-top: 10vw;
        width: 65vw;
        text-align: center;
    }

    .footer__sociais .sociais__logo{
        margin-top: .8vw;
        width: 45vw;
        margin-left: 6vw;
        margin-bottom: 7vw;
    }

    .footer__sociais .sociais__logo .col img{
        width: 6vw;
    }

    .footer__logo1{
        display: none;
    }

    .footer__logo2{
        display: block;
        margin-top: 3vw;
        margin-bottom: 10vw;
        margin-left: 20vw;
    }

    .footer__logo2 img{
        width: 43vw;
        margin-left: -5vw;
    }

    .footer__contato .col.telefones2 .row.telefones h6 span{
        font-size: 2vw;
    }

    .col.telefones1{
        display: none;
    }
    
    .col.telefones2{
        display: block;
    }
}