@font-face {
    font-family: Asap;
    src: url('https://https://fonts.google.com/specimen/Asap');
}

.comoAjudar{
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 25px;
    background-color: #1BEFA3; 
    
    color: #0537EA;     
    font-family: Asap;
    font-weight: bold;
}

.nav-link{
    color: #0537EA;     
    font-family: Asap;
    font-weight: bold;
    text-transform: uppercase;
}